* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-image: url(../login-images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Funnel Sans", sans-serif;
}

.container {
    max-width: 1470px;
    height: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

// ===================HEADER========================

.header {
    width: 100%;
    height: 80px;
    border-bottom: 1px solid rgba($color: #FFFFFF, $alpha: .1);
    
    .header-inner {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .burger-menu {
            margin-left: 20px;
            display: none;
            position: relative;

            button {
                background: transparent;
                color: #9494af;
                width: 40px;
                font-size: 25px;
                border: none;
                cursor: pointer;
            }

            input {
                width: 100%;
                height: 100%;
                position: absolute;
                right: 0 !important;
                top: 0;
                z-index: 999;
                opacity: 0;
                cursor: pointer;
            }

            input:checked ~ .burger {
                height: 120px;
                display: block;
            }

            .burger {
                background-color: #222;
                color: #62E6BE;
                width: 100px;
                height: 0;
                display: none;
                position: absolute;
                border-radius: 20px;
                top: 33px;
                left: -68px;
                overflow: hidden;
                transition: .5s;

                .burger-list {
                    a {
                        color: #9494af;
                        text-decoration: none;
                    }
                    
                    li {
                        list-style: none;
                    }
                    
                    li + li {
                        margin-top: 10px;
                    }

                    .added {
                        display: none;
                    }
                }
            }

        }
        

        .header-navigation {
            display: flex;
            .header-navigation-list {
                margin-left: 80px;
                display: flex;
                gap: 40px;
                list-style: none;
                

                li {
                    display: flex;
                    align-items: center;
                }

                a {
                    color: #676780;
                    text-decoration: none;
                    transition: .4s;
                }

                a:hover {
                    color: #9494af;
                }

                a:active {
                    font-size: 18px;
                }


            }

        }

        .header-buttons {
            text-align: center;
            display: flex;
            align-items: center;
            gap: 25px;
            
            .login {
                color: white;
                background: none;
                width: 70px;
                height: 22px;
                margin-left: 40px;
                border: none;
                text-decoration: none;
                transition: .4s;
                cursor: pointer;
            }

            .signup {
                color: #62E6BE;
                background-color: rgba($color: #62E6BE, $alpha: .1);
                width: 90px;
                height: 40px;
                border: none;
                border-radius: 8px;
                text-decoration: none;
                transition: .4s;
                cursor: pointer;
                padding: 9px;
            }

            .login:hover {
                color: rgb(200, 200, 200);
            }

            .signup:hover {
                background-color: #62e6be2e;
            }
        }
    }
}

// ==================REGISTER==================

.login {
    margin: 100px auto;
    
    .login-inner {
        display: flex;
        justify-content: center;
        
        .login-form {
            background-color: #6D62E60D;
            max-width: 450px;
            height: 370px;
            padding: 30px 65px;
            border-radius: 20px;
            
            .login-title {
                color: #BABAD3;
                text-align: center;
                a {
                    color: #62E6BE;
                }
            }

            .text {
                margin-top: 20px;
                display: flex;
                flex-direction: column;
                gap: 10px;

                label {
                    color: #E4E2F4;
                    font-size: 20px;
                }

                input {
                    max-width: 300px;
                    height: 40px;
                    padding: 0 10px;
                    font-size: 17px;
                    border-radius: 8px;
                }
            }

            .apply {
                margin-top: 15px;
                @include center-flex();
                a {
                    color: #62E6BE;
                    background-color: rgba($color: #62E6BE, $alpha: .1);
                    width: 150px;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    padding: 9px;
                    border: none;
                    border-radius: 8px;
                    text-decoration: none;
                    transition: .4s;
                    cursor: pointer;
                }

                a:hover {
                    background-color: #62e6be2e
                }
            }
        }

    }

}

// ==========================FOOTER===========================

.footer {

    margin-top: 150px;

    .footer-inner {

        .footer-cards {
            
            .footer-card {
                padding: 30px;
                display: flex;
                justify-content: space-between;
                gap: 10px;

                .footer-card-image {
                    @include center-flex()
                }

                .footer-navigation {

                    ul {
                        display: flex;
                        gap: 20px;
                    }
                    
                    li {
                        list-style: none;
                    }

                    a {
                        color: #C5C5DC80;
                        text-decoration: none;
                        cursor: pointer;
                    }
                }
            }

            .footer-copyright {
                color: #C5C5DC80;
            }

            .footer-card:nth-of-type(2) {
                border-top: 2px solid #FFFFFF1A;
                max-width: 1440px;
            }

        }

    }

}

@media (max-width:385px) {
    .login {
        .login-inner {
            .login-form {
                padding: 32px 35px;
            }
        }
    }
}

@media (max-width: 427px) {

    .login {
        .login-inner {
            .login-form {
                height: 440px;
            }
        }
    }

    .footer {
        .footer-inner {

            .footer-cards {
                .footer-card {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 15px;
                }
            }

        }
    }
}

@media (max-width: 480px) {

    .footer {
        .footer-inner {
            .footer-cards {
                .footer-card {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 15px;
                }
            }
        }
    }

}

@media (max-width: 527px) {

    .header {
        .header-inner {

            .header-buttons {
                display: none;
            }

            .burger-menu {
                display: block;

                input:checked ~ .burger {
                    height: 180px;
                    display: block;
                }

                .burger {
                    .burger-list {
                        .added {
                            display: block;
                        }
                    }

                }
            }
        }
    }

}

@media (max-width: 768px) {

    .header {
        .header-inner {
            width: 100%;
            padding: 40px;
            .header-navigation {
                .header-navigation-list {
                    display: none;
                }
            }
            .burger-menu {
                display: block;

                .burger {
                    display: flex !important;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    margin: 30px 38px 0;
                }
            }
        }
    }

}